@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

/* Define your variables */
:root {
  --xs: clamp(0.6076rem, 0.5743rem + 0.1667vi, 0.7035rem);
  --s: clamp(0.7292rem, 0.6566rem + 0.3627vi, 0.9377rem);
  --n: clamp(0.875rem, 0.7446rem + 0.6522vi, 1.25rem);
  --l: clamp(1.05rem, 0.8357rem + 1.0717vi, 1.6663rem);
  --xl: clamp(1.26rem, 0.9257rem + 1.6715vi, 2.2211rem);
  --xxl: clamp(1.512rem, 1.0081rem + 2.5196vi, 2.9607rem);
  --xxxl: clamp(1.8144rem, 1.0727rem + 3.7083vi, 3.9467rem);
  --cp: #ace7ff;
  --cs: #ffc0d3;
  --ct: #8c8c8c;
  --cd: #000000;
  --cl: #ffffff;
}

/* Apply to All */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
}

/* Body */
body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: var(--n);
  line-height: 1.6;
  height: 100vh;
}

/* Headings */
h1 {
  font-weight: 800;
  font-size: var(--xxxl);
}

h2 {
  font-weight: 700;
  font-size: var(--xxl);
}

h3 {
  font-weight: 600;
  font-size: var(--xl);
}

h4 {
  font-weight: 500;
  font-size: var(--l);
}

/* Images */
img {
  display: block;
  max-width: 100%;
}

/* Input Fields */
input {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-bottom: 1px solid var(--cl);
  font-family: inherit;
  background: transparent;
  color: inherit;
}

input::placeholder {
  color: inherit;
  opacity: 0.5; /* Fix for Firefox */
}

input:hover::placeholder {
  opacity: 1;
}

input:focus {
  outline: none;
}

input:-webkit-autofill {
  transition: background-color 60000s ease-in-out 0s;
  -webkit-text-fill-color: var(--cl) !important;
}

input::-webkit-input-placeholder {
  color: var(--cl);
}
