.login-form {
  display: grid;
  gap: calc(var(--n) * 2);
}

.form-controls,
.form-actions {
  display: grid;
  gap: var(--n);
}

::-ms-reveal {
  filter: invert(100%);
}

.form-actions {
  place-items: center;
  gap: 0;
}

.form-actions button {
  background: none;
  color: inherit;
  opacity: 0.5;
}

.form-actions button:hover {
  opacity: 1;
}

.form-actions button[type="submit"] {
  background: var(--cl);
  color: var(--cd);
  opacity: 0.5;
}

.form-actions button[type="submit"]:hover {
  opacity: 1;
}

.error {
  font-size: var(--xs);
  font-style: italic;
  color: var(--ct);
}
