.app-layout {
  background-color: var(--cd);
  padding: 4px;
  display: grid;
  gap: 4px;
}

.main-content {
  height: calc(100vh - 4rem - 12px);
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 4px;
}

.main-content > * {
  height: 100%;
  border-radius: 4px;
}

.main-content > div:nth-child(1) {
  overflow-y: scroll;
}

/* Media Queries */
@media (max-width: 1200px) {
  .main-content {
    grid-template-columns: 3fr 5fr 4fr;
  }
}

@media (max-width: 900px) {
  .main-content {
    grid-template-columns: 1fr 2fr 0;
  }

  .main-content > div:nth-child(3) {
    display: none;
  }
}

@media (max-width: 600px) {
  .main-content {
    grid-template-columns: 0 1fr 0;
  }

  .main-content > div:nth-child(1),
  .main-content > div:nth-child(3) {
    display: none;
  }
}
